.navbar {
    background-color: rgb(45, 189, 141) !important;
    color: black!important;
}

.btn:hover {
    border-width: 1px;
    border-color: black;
    background-color: white;
    color: black;
}

.nav-link {
    font-size: 30px;
}

input {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border-radius: 10px;
    border: 0px solid;
}

input:focus {
    outline: none;
    border: 2px solid dodgerblue;
}

select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.navbar-brand {
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    font-weight: bold;
}

.headerDivider {
    border-radius: 20px;
    border-left: 1px solid rgb(63, 63, 63);
    border-right: 1px solid gray;
    height: 80px;
    position: static;
    right: 249px;
    top: 10px;
}