.banner {
    background-attachment: fixed;
    background-color: rgb(219, 219, 219);
    padding-top: 60px;
    padding-bottom: 60px;
}

.item {
    color: rgb(43, 43, 165);
}

.item:hover {
    background-color: rgb(43, 43, 165);
    color: white;
    transition-duration: 0.5s;
}

.item:not( :hover) {
    transition-duration: 1s;
}