<div class="banner">
    <div class="container">
        <h1 class="text-monospace">Bem vindo {{nome}}
        </h1>
        <p class="text-monospace">Gerenciamento de documentos</p>
    </div>
</div>
<div class="container text-center my-5">
    <div class="row">

        <div class="col-lg-4">
            <a href="/menu">
                <div class="card shadow rounded">
                    <div class="card-body item">
                        <fa-icon class="fa-7x" [icon]="faSearch"></fa-icon>
                        <h4>Busca</h4>
                    </div>
                </div>
            </a>
        </div>


        <div class="col-lg-4">
            <a href="/menu">
                <div class="card shadow rounded">
                    <div class="card-body item" onclick="log()">

                        <fa-icon class="fa-7x" [icon]="faUserPlus"></fa-icon>
                        <h4>Cadastrar Documentos</h4>

                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-4">
            <a href="/menu">
                <div class="card shadow rounded">
                    <div class="card-body item">
                        <fa-icon class="fa-7x" [icon]="faFile"></fa-icon>
                        <h4>Cadastrar Funcionário</h4>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>