<footer class="">
    <p class="text-center pt-4">Desenvolvidor por: Thiago Araujo Cardoso </p>
    <div class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link" href="#">
                <fa-icon class="fa-3x" [icon]="faGithub"></fa-icon>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <fa-icon class="fa-3x" [icon]="faInstagram"></fa-icon>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <fa-icon class="fa-3x" [icon]="faLinkedin"></fa-icon>
            </a>
        </li>
    </div>
</footer>