table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

td,
th {
    width: 25%;
}

.banner {
    background-attachment: fixed;
    background-color: rgb(219, 219, 219);
    padding-top: 60px;
    padding-bottom: 60px;
}