.banner {
    background-attachment: fixed;
    background-color: rgb(219, 219, 219);
    padding-top: 60px;
    padding-bottom: 60px;
}

.item {
    color: rgb(43, 43, 165);
}

.item:hover {
    background-color: rgb(43, 43, 165);
    color: white;
    transition-duration: 0.5s;
}

.item:not( :hover) {
    transition-duration: 1s;
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
}

#menu {
    padding-bottom: 377px;
}